@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h2> Accueil</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci tellus, sollicitudin sed libero sed, convallis gravida mi. Cras scelerisque iaculis neque non semper. Morbi fringilla id arcu lacinia vehicula. Aliquam ullamcorper tellus vitae nisl facilisis, venenatis fringilla erat hendrerit. Ut tortor dolor, faucibus sed fringilla in, venenatis nec libero. Integer vulputate vitae libero quis malesuada. Cras sed justo vitae risus aliquet feugiat a quis dolor. Suspendisse ornare faucibus est id bibendum. Ut in arcu elit. Pellentesque eu malesuada sapien. Praesent convallis nisi ante, at mattis augue bibendum at. Proin at neque congue, convallis velit at, porta nunc. Vivamus massa nulla, commodo eu luctus vel, tempus quis nunc. Suspendisse vel tellus porttitor, scelerisque arcu ut, suscipit magna. Sed sit amet felis accumsan, porta augue ut, rutrum dui. Integer egestas eleifend ornare.

Maecenas sit amet nisl a sapien dapibus tincidunt. Ut odio enim, maximus elementum blandit non, efficitur non nunc. Fusce metus lorem, porta eu mi eu, pulvinar porttitor ante. Donec venenatis dolor quis hendrerit finibus. Mauris molestie finibus nunc at rutrum. Donec ac sem et leo semper venenatis ut ac mauris. In ullamcorper leo at scelerisque gravida. Aliquam in massa commodo, mattis augue id, semper nunc. Suspendisse et velit id libero vulputate cursus nec vulputate quam.

Ut eu commodo lectus. Praesent posuere rhoncus orci eget elementum. Quisque id viverra erat. Proin ante ligula, sagittis a tincidunt eget, malesuada vitae dolor. Quisque a ullamcorper est, eget rutrum nulla. Morbi ultricies vel ipsum vel semper. In sed diam id est aliquam finibus vel gravida ipsum. Praesent a libero nec ligula finibus faucibus. Donec a faucibus ex, eget posuere ligula. Sed et felis vitae diam placerat efficitur. Mauris ut faucibus turpis. Aliquam accumsan, libero in aliquet blandit, felis sapien lobortis magna, vel imperdiet nunc lorem eu lorem. Quisque sit amet ligula ut orci bibendum aliquam. Etiam fringilla imperdiet nisi, et ornare augue. In hendrerit placerat elementum. Quisque id aliquet nunc, in euismod orci.

</div>
